DEBUG=False
SECRET_KEY=
ALLOWED_HOSTS=localhost,127.0.0.1,178.218.200.120
CORS_ALLOWED_ORIGINS=http://localhost:4563,http://127.0.0.1:4563,http://178.218.200.120:4563
DB_ENGINE=postgres
DB_NAME=expiditor-tracker-real
DB_USER=expiditor
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=5432
